@model IEnumerable<MarktSys_ASP_NET_CORE.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <a asp-controller="Administrativo" asp-action="NovaCategoria" class="btn btn-success">Criar nova categoria</a>
</p>

    <script>
        $(document).ready( function () {
        $('#categorias').DataTable();
    } );
    </script>

<table class="table" id="categorias">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>   
                <td>
                    @Html.ActionLink("Editar", "EditarCategoria", new { item.Id }, new { @class = "btn btn-warning" })
                    <form asp-controller="Categoria" asp-action="Inativar" method="post" style="display: inline">
                        <input name="id" value="@item.Id" class="form-control" hidden/>
                        <input type="submit" value="Excluir" class="btn btn-danger" onclick="return confirm('Você tem certeza que deseja fazer essa exclusão?');"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


