@model MarktSys_ASP_NET_CORE.Models.ViewModel.VendaSaidas

@{
    ViewData["Title"] = "Detalhar Venda";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <h4>Venda @Model.Venda.Id.ToString("Nº 000000") </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venda.DataDaVenda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venda.DataDaVenda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venda.ValorTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venda.ValorTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venda.ValorPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venda.ValorPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venda.ValorDoTroco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venda.ValorDoTroco)
        </dd>
        <dt class="col-sm-2">
            Produtos Comprados:
        </dt>
        <dd class="col-sm-12">
            <table class="table" id="produtos">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Quantidade
                        </th>
                        <th>
                            Subtotal
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Saidas) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Produto.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Produto.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantidade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ValorDaVenda)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Administrativo" asp-action="Promocoes">Voltar à lista</a>
</div>
