@model IEnumerable<MarktSys_ASP_NET_CORE.Models.Fornecedor>

@{
    ViewData["Title"] = "Fornecedores";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <script>
        $(document).ready(function () {
            $('#fornecedores').DataTable();
        });
    </script>

<p>
    <a asp-controller="Administrativo" asp-action="NovoFornecedor" class="btn btn-success">Criar novo fornecedor</a>

</p>
<table class="table" id="fornecedores">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarFornecedor", new { item.Id }, new { @class = "btn btn-warning" })
                <form asp-controller="Fornecedor" asp-action="Inativar" method="post" style="display: inline">
                    <input name="id" value="@item.Id" class="form-control" hidden />
                    <input type="submit" value="Excluir" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
